h2{
    color:rgb(255, 255, 255)
}
h2{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body, html {
    height: 100%;
    margin: 0;
}

.bg {

    background-image: url("moon.jpg");

    
    height: 100%; 


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color:rgb(255, 255, 255)
}
p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    color:rgb(255, 255, 255)
}
table{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
